.field1 {
  width: 100%;
  padding: 2% 0px 2% 0px;
  margin-top: 1%;
  margin-bottom: 3%;
}

.field2 {
  width: 90%;
  /* padding: 1% 0px 1% 0px; */
  margin: auto;
  display: flex;
}

.field3 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field3 h1 {
  font-family: poppins;
  font-size: 45px;
  margin-bottom: 3%;
  margin-top: 2%;
  font-weight: 700;
}

.field4 p {
  padding-bottom: 0;
}

.field3 p {
  margin-top: 0;
  margin-bottom: 4%;
  font-family: poppins;
  font-size: 15px;
  text-align: justify;
  color: #626262;
}

.field3 button {
  background-color: rgb(46, 141, 78);
  width: 30%;
  padding: 7px;
  border: none;
  font-family: poppins;
  font-size: 17px;
  color: white;
  border-radius: 5px;
}

.field3 button:hover {
  background-color: rgb(234, 80, 73);
}

.field3 img {
  width: 70%;
  height: 90%;
}

.field6 {
  width: 100%;
  margin: auto;
  background: radial-gradient(
    circle,
    rgba(0, 180, 61, 1) 0%,
    rgba(46, 141, 78, 1) 100%
  );
  padding: 3%;
  display: flex;
}

.field5 {
  width: 40%;
  margin: auto;
}

.field5 h2 {
  font-family: poppins;
  font-size: 30px;
  margin-bottom: 3%;
  margin-top: 2%;
  font-weight: 700;
  text-align: justify;
}

.field5 p {
  font-family: Poppins;
  text-align: justify;
  color: white;
}

.field5 img {
  width: 80%;
}

.field13 {
  width: 100%;
  margin: auto;
  background: radial-gradient(
    circle,
    rgba(0, 180, 61, 1) 0%,
    rgba(46, 141, 78, 1) 100%
  );
  padding: 3%;
  display: flex;
}

.field12 {
  width: 30%;
  margin: auto;
}

.field12 h2 {
  font-family: poppins;
  font-size: 30px;
  margin-bottom: 3%;
  margin-top: 2%;
  font-weight: 700;
  text-align: justify;
}

.field12 p {
  font-family: Poppins;
  text-align: justify;
  color: white;
}

.field12 img {
  width: 80%;
}

.field7 {
  width: 100%;
  margin-top: 5%;
}

.field7 h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}

.field8 {
  width: 95%;
  margin: auto;
  /* background-color: #626262; */
  display: flex;
  column-gap: 5%;
  margin-bottom: 0;
  margin-top: 0;
}

.field9 {
  width: 50%;
  background-color: rgb(253, 255, 252);
  margin: auto;
  margin-bottom: 2%;
  border-radius: 10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 3%;
}

.field9 h2 {
  font-weight: 700;
}

.field9 button {
  background-color: rgb(234, 80, 73);
  width: 80%;
  padding: 7px;
  border: none;
  font-family: poppins;
  font-size: 17px;
  color: white;
  border-radius: 10px;
}

.field9 button:hover {
  background-color: rgb(46, 141, 78);
}

.field10 {
  width: 100%;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(234, 80, 73, 1) 0%,
    rgb(255, 0, 55) 100%
  );
  padding: 3%;
}

.field11 {
  width: 70%;
  margin: auto;
}

.field11 h2 {
  font-family: poppins;
  font-size: 30px;
  margin-bottom: 3%;
  margin-top: 2%;
  font-weight: 700;
  text-align: center;
  color: white;
}

.field11 p {
  font-family: Poppins;
  text-align: center;
  color: white;
}

.field20 {
  width: 100%;
  padding: 3%;
}

.field21 {
  width: 80%;
  margin: auto;
  display: flex;
  column-gap: 2%;
}

.field22 {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 20px;
  padding-right: 30px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.field22 h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3%;
  color: rgb(96, 96, 96);
}

.field100 {
  width: 60%;
}

@media (max-width: 767px) {
  .field1 {
    margin-top: 3%;
    margin-bottom: 10%;
  }
  .field2 {
    flex-wrap: wrap;
  }
  .field3 {
    width: 100%;
  }
  .field3 img {
    margin-top: 10%;
    width: 100%;
  }
  .field6 {
    flex-wrap: wrap;
  }
  .field5 {
    width: 100%;
  }
  .field5 img {
    width: 100%;
  }
  .field5 h2 {
    font-size: 25px;
    text-align: left;
  }
  .field13 {
    flex-wrap: wrap;
    margin-top: 10%;
  }
  .field12 {
    width: 100%;
  }
  .field12 img {
    width: 100%;
  }
  .field12 h2 {
    font-size: 25px;
    text-align: left;
  }
}
